.container {
  display: flex;
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 120rem;
  box-sizing: border-box;

  &--vertical {
    flex-direction: column;
  }

  &--horizontal {
    justify-content: space-between;
    align-items: center;
  }
}
