$search-bar-height: 4rem;

.search-bar {
  position: relative;
  display: flex;
  width: 33rem;
  height: $search-bar-height;
  border-radius: 3px;
  font-size: $m-size;
}

.search-bar__input {
  width: 100%;
  height: 100%;
  padding: 10px 45px 10px 20px;
  background-color: white;
  box-shadow: 0 8px 15px rgba($tundora, 0.1);
  border: 0;
  border-radius: 3px;
  color: $light-blue;
  font-size: inherit;

  &:focus {
    outline: none;
    box-shadow: 0 9px 20px rgba($tundora, 0.3);
  }

  &::placeholder {
    font-size: inherit;
    font-style: italic;
    color: lighten($light-blue, 30%);
  }
}

.search-bar__btn-container {
  position: absolute;
  top: 0;
  right: 0;
  width: $search-bar-height;
  height: 100%;
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
}

.search-bar__btn-search {
  position: relative;
  top: 5px;
  left: 8px;
  width: 50%;
  height: 50%;
  font-size: 0;
  background-color: white;
  border-radius: 50%;
  border: 3px solid $orange;

  &:after {
    content: "";
    position: absolute;
    bottom: -9px;
    right: -2px;
    width: 4px;
    border-radius: 3px;
    transform: rotate(-45deg);
    height: 10px;
    background-color: $orange;
  }

  &:hover {
    border-color: lighten($orange, 10%);
    &:after {
      background-color: lighten($orange, 10%);
    }
  }

  &:focus {
    outline: none;
  }
}